*{
    margin: 0;
    padding: 0;
    
    
}
body{
    list-style: none;
  overflow-x: hidden;
}
header{
    position:sticky ;
    top: 0px;
    height: 100px;
    width: 100%;
    
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
}
nav #nav1{
    font-size: 40px;
}
nav #nav2{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    width: 600px;
}
#b1{
  height: 700px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  
}
#sub1{
    background-color: rgb(0, 0, 0);
    height: 700px;
    width: 50%;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row-reverse;
   flex-shrink: 10;
   

}
#sub2{
    background-color: rgb(0, 0, 0);
    height: 700px;
    width: 50%;
}
#sub2 div{
   
    margin-top: 150px;
    margin-left: 100px;
    height: 500px;
    width: 50%;
    background-image: url("moon-8855057_1280.webp");
    background-repeat: no-repeat;
    background-size: 100% 400px;

}

#sub1 button{
    padding: 10px 20px;
}
#s{
    background-color: rgb(0, 0, 0);
    height: 300px;
    display: flex;
    justify-content:space-evenly ;
    align-items: flex-start;
    flex-direction: column;
    flex-shrink: 10;
}
#s p{
    height: 100px;
    width: 500px;
    flex-shrink: 10;

}
#div2{
    color: white;
    height: 700px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-shrink: 10;

}
.sub22{
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 10;

}
.hi{
    height: 300px;
    width: 400px;
   margin: 50px;
   background-color: rgb(0, 0, 0);
   align-content: center;
   flex-shrink: 10;

}
.hi div{
    height: 75px;
    width: 400px;
    background-color: rgb(65, 5, 108);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    flex-shrink: 10;


}
.hi button{
    border-style: none;
    background-color: rgb(65, 5, 108);
    padding: 10px;
    font-size: 20px;
    color: white;
    flex-shrink: 10;

}
#div3{
    height: 600px;
    width: 100%;
    background-color: white;
    flex-shrink: 10;

}
#div3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-shrink: 10;

}



#sub3{
    height: 300px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("1330753.png");
    background-repeat: no-repeat;
    background-size: 100% 300px;
    flex-shrink: 10;

    
}
#sub3 div{
    height: 300px;
    width: 50%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    flex-shrink: 10;

   
}
footer{

    height: 300px;
    width: 100%;
    background-color: rgb(73, 73, 73);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-shrink: 10;

}
footer div{
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;

  flex-shrink: 10;
}